$dark-color: rgb(31, 41, 51);
$lighter-color: rgb(43, 57, 72);

body {
    background-color: $lighter-color;
    color: white;

}

// Custom styles for FavoritesView
.favorites-container {
    .favorites-title {
        margin: 3rem 0 1rem 8rem;
        font-size: 2.0rem;

        @media (max-width: 768px) {
            margin: 1.5rem auto; // Center the title horizontally
            font-size: 1.5rem; // Smaller font size for mobile devices
            text-align: center; // Center the text content
        }
    }

    .favorites-divider {
        border: 0;
        height: 1px;
        background: white;
        margin: 0 auto 2rem auto;
        width: 80%;

        @media (max-width: 768px) {
            width: 90%; // Increase width on smaller screens
            margin-bottom: 1.5rem; // Reduce bottom margin
        }
    }

    .no-favorites-message {
        margin: 0 0 0 8rem;

        @media (max-width: 768px) {
            margin: 0 1.5rem; // Reduced side margins for smaller screens
            text-align: center; // Center the message text
        }
    }
}




.movies-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    margin: 0 20px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 20px;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: $dark-color;
    color: white;
}

.movie-card.single-movie {
    max-width: 550px;
    margin: 0 auto;
    display: block;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card button {
    cursor: pointer;
}

::ng-deep .movie-title {
    text-align: center !important;
    color: white;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-image {
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}